<div id="list-container" class="d-flex justify-content-center">
  <div
    class="card shadow p-1 bg-white rounded"
    style="
      margin-top: 4rem;
      width: 50rem;
      margin-left: 1rem;
      margin-right: 1rem;
    "
  >
    <div class="card-body">
      <%- include('./plugins/messages.ejs') %>
      <h5 class="card-title">
        Contact <%= donor.firstname %> <%= donor.lastname %>
      </h5>
      <h6 class="card-subtitle text-muted">
        <br />
        <% var blood = donor.blood.split(" ") %> <% if (blood[1] == "positive"){
        %> <% var bloodToShow = blood[0]+" "+"+"; %> <% } else { %> <% var
        bloodToShow = blood[0]+" "+"-"; %> <% } %> (<%= bloodToShow %>)
        <b> | </b>
        <!-- <br /> -->
        <%= donor.address.city %>, <%= donor.address.state %> (<%= donor.dst %>
        mi away)
      </h6>
      <!-- <div style="margin-top: -2.3em;"></div> -->

      <form method="POST">
        <div class="form-group" style="margin-top: 2em;">
          <label for="firstname">Full Name</label>
          <input
            type="text"
            class="form-control"
            name="name"
            id="name"
            aria-describedby="firstname"
            placeholder="Enter your full name"
          />
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            id="email"
            aria-describedby="emailHelp"
            placeholder="name@example.com"
          />
          <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
        </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea1">Your Message</label>
          <textarea
            class="form-control"
            name="message"
            id="exampleFormControlTextarea1"
            rows="6"
            placeholder="Hello, thank you for your kindness. You are saving a life."
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
        <a href="/" class="card-link">Cancel</a>
      </form>
    </div>
    <script>
      console.log(<%- JSON.stringify(donor) %>);
    </script>
  </div>
</div>
